<meta charset="utf-8" />
<title>Ambit Private Limited</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
  .mq {
    width: 710px;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .mq {
      width: 300px;
    }

    .mqfont {
      font-size: 16px;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .mq {
      width: 300px;
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .mq {
      width: 710px;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .mq {
      width: 710px;
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .mq {
      width: 710px;
    }
  }

  .mqimg {
    width: 100px !important;
  }

  .mqimg1 {
    width: 100px !important;
  }

  .mqimg1 {
    width: 100px !important;
  }
</style>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"
  style="font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif">
  <tbody>
    <tr>
      <td>
        <table width="710" border="0" cellspacing="0" cellpadding="5" align="center" style="border: 1px solid #000;">
          <tbody>
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="
                          font-size: 18px;
                          line-height: 25px;
                          font-family: Gotham, 'Helvetica Neue', Helvetica,
                            Arial, sans-serif;
                            text-align: end;

                        ">
                        <img src="logo.svg" alt="">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="min-height: 70vh;">
                  <tbody>

                    <tr>
                      <td style="
                          font-size: 15px;
                          text-align: center;
                          padding-bottom: 15px;
                        ">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>

                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tbody>

                    <tr>
                      <td style="
                          font-size: 15px;
                          text-align: center;
                          padding-bottom: 15px;
                        ">
                        <table width="100%" border="0" cellspacing="0" cellpadding="5" style="border: 1px solid #ccc">
                          <tbody>
                            <tr valign="top" style="
                                font-size: 15px;
                                padding: 10px;
                                vertical-align: top;
                              ">
                              <td width="33%" style="
                                  border-right: 1px solid #ccc;
                                  border-bottom: 1px solid #ccc;
                                  font-size: 12px;
                                ">
                                <strong>Ambit Private Limited</strong><br />
                                <p style="margin: 3px 0;">Ambit House, 449, Senapati Bapat Marg, Lower Parel, Mumbai 400 013 India T: 91 22 6860 1819  F: 91 022 3982 3020</p>
                                <p style="margin: 3px 0;">www.ambit.co &nbsp;&nbsp;&nbsp; CIN: U65923MH1997PTC109992
                                </p>
                              </td>

                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>